{% extends "base.html" %}
{% block content %}


<!--------------------------------------
HEADER
--------------------------------------->

<!--------------------------------------
Main
--------------------------------------->
<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-12">
			<h5 class="font-weight-bold spanborder"><span>Tags</span></h5>
			{% if terms %}
			{% set main_page = terms[0].pages[0] %}
			<div class="card border-0 mb-5 box-shadow">
				{% set extra = main_page.extra %}
				{% for k, v in extra %}
				{% if k == 'image' %}
				<div
					style="background-image: url({{config.base_url}}/{{v}}); height: 350px; background-size: fit; background-repeat: no-repeat;">
				</div>
				{% endif %}
				{% endfor %}
				<div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
					<h2 class="h2 font-weight-bold">
						<a class="text-dark" href="{{main_page.permalink}}">{{main_page.title}}</a>
					</h2>
					<p class="card-text">
						{{main_page.description}}
					</p>
					<div>
						<small class="d-block"><a class="text-muted" href="./author.html">bichkhe in Rust Tiếng
								Việt</a></small>
						<small class="text-muted">{{main_page.date | date }} · 5 min read</small>
					</div>
				</div>
			</div>
			{% endif %}
			<h5 class="font-weight-bold spanborder"><span>Latest</span></h5>
			{% for term in terms %}
			{% if term.pages -%}
			{% for page in term.pages %}
			<div class="mb-3 d-flex justify-content-between">
				<div class="pr-3">
					<h2 class="mb-1 h4 font-weight-bold">
						<a class="text-dark" href="{{page.permalink}}"> {{ page.title | safe }}</a>
					</h2>
					<p>
						{{ page.description | safe }}
						<!-- There are more coral species lurking in the deep ocean that previously thought. -->
					</p>
					<div class="card-text text-muted small">
						{{config.extra.author}}
					</div>
					<small class="text-muted">{{page.date | date }}</small>
				</div>
				{% set extra = page.extra %}
				{% for k, v in extra %}
				<img height="120" src="{{config.base_url}}/{{v}}">
				{% endfor %}

			</div>
			{% endfor %}
			{% endif %}
			{% endfor %}

			{{ macros::paginator1(paginator=terms)}}
		</div>
	</div>
</div>

<div class="container pt-4 pb-4">
	<div class="border p-5 bg-lightblue">
		<div class="row justify-content-between">
			<div class="col-md-6">
				<h5 class="font-weight-bold secondfont">Become a member</h5>
				Get the latest news right in your inbox. It's free and you can unsubscribe at any time. We hate spam
				as much as we do, so we never spam!
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6">
						<input type="text" class="form-control" placeholder="First name">
					</div>
					<div class="col-md-6">
						<input type="text" class="form-control" placeholder="Last name">
					</div>
					<div class="col-md-12 mt-3">
						<button type="submit" class="btn btn-success btn-block">Subscribe</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Main -->
{% endblock content %}