{% extends "base.html"%}
{% block content %}

<!--------------------------------------
HEADER
--------------------------------------->

<div class="container">
    <div class="jumbotron jumbotron-fluid mb-3 pl-0 pt-0 pb-0 bg-white position-relative">
        <div class="h-100 tofront">
            <div class="row justify-content-between">
                <div class="col-md-6 pt-6 pb-6 pr-6 align-self-center">
                    <p class="text-uppercase font-weight-bold">
                        <a class="text-danger" href="/">Stories</a>
                    </p>
                    <h1 class="display-4 secondfont mb-3 font-weight-bold">{{ page.title }}</h1>
                    <p class="mb-3">
                        {{ page.description }}
                    </p>
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle"
                            src="https://raw.githubusercontent.com/The-DevX-Initiative/RCIG_Coordination_Repo/main/RCIG_Mascot3.png"
                            width="70">
                        <small class="ml-2">bichkhe <span class="text-muted d-block">A few hours ago &middot; 5
                                min. read</span>
                        </small>
                    </div>
                </div>
                <div class="col-md-6 pr-0">
                    {% set extra = page.extra %}
                    {% for k, v in extra %}
                    {% if k == 'image' %}
                    <img src="{{config.base_url}}/{{v}}">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End Header -->

<!--------------------------------------
MAIN
--------------------------------------->
<div class="container pt-4 pb-4">
    <div class="row justify-content-center">

        <div class="col-lg-2 pr-4 mb-4 col-md-12">
            <div class="sticky-top text-center">
                <div class="text-muted">
                    Share this
                </div>
                <div class="share d-inline-block">
                    <!-- AddToAny BEGIN -->
                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                        <a class="a2a_button_facebook"></a>
                        <a class="a2a_button_twitter"></a>
                    </div>
                    <script async src="https://static.addtoany.com/menu/page.js"></script>
                    <!-- AddToAny END -->
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-8">
            <div class="border p-5 bg-lightblue text-dark">
                <h3 class="font-weight-bold secondfont">Mục lục</h3>
                {% if page.toc %}
                <ul>
                    {% for h1 in page.toc %}
                    <li>
                        <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                        {% if h1.children %}
                        <ul>
                            {% for h2 in h1.children %}
                            <li>
                                
                                <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                                <ul>
                                    {% for h3 in h2.children %}
                                    <li>
                                        <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <article class="article-post">
                <p>{{ page.content | safe }}</p>
            </article>
            <div class="border p-5 bg-lightblue">
                <div class="row justify-content-between">
                    <div class="col-md-5 mb-2 mb-md-0">
                        <h5 class="font-weight-bold secondfont">Become a member</h5>
                        Get the latest news right in your inbox. We never spam!
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Enter your e-mail address">
                            </div>
                            <div class="col-md-12 mt-2">
                                <button type="submit" class="btn btn-success btn-block">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-4 pb-4">
    <h5 class="font-weight-bold spanborder"><span>Read next</span></h5>
    <div class="col-lg-12">
        {% for k in config.taxonomies %}
        <a class="ml-2" href={{config.base_url}}/{{k.name}}>{{k.name}}</a>
        {% endfor%}
    </div>
    <div class="col-lg-12">
        {% set_global all_pages1 = [] %}
        {% set_global found = 0 %}
        {% set categories = get_taxonomy(kind="tags") %}
        {% set_global total_pages = 0 %}
        {% for k in categories.items %}
        <a class="ml-2" href={{k.permalink}}>{{k.name}}</a>
        {% endfor %}
    </div>
</div>
</div>
<!-- End Main -->

{% endblock content %}